<html>
<title>BitcoinJS-Bot</title>

<head>
  <% include ./partials/head %>
</head>

<body>

<header>
  <% include ./partials/header %>
</header>

    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="col-md-12">
            <h1>BitcoinJS-Bot</h1>
            <h3>Javascript based automated bitcoin trading bot</h3>
            <p class="lead">Find this project on github: <a href="#">https://github.com/James328/bitcoinjs-bot</a>.</p>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

<footer>
  <% include ./partials/footer %>
</footer>

</body>
</html>