<html>
<title>BitcoinJS-Bot</title>
<head>

<% include ./partials/head %>

<script type="text/javascript">
$.getJSON("http://localhost:8000/tweets", function(tweets) {
  var obj = []
  obj = tweets;

  var tbl=$("<table/>").attr("id","mytable").attr("class","table table-striped");
  var tableHeading = "<tr><th>Date</th><th>Time</th><th>User</th><th>Tweet Text</th><th>Sentiment</th></tr>";

  $("#name").append(tbl);
  $("#mytable").append(tableHeading);
    for(var i=0;i<obj.length;i++) {
      var d = new Date(obj[i]["apiData"]["created_at"]);
      var curr_year = d.getFullYear();
      var curr_month = d.getMonth();
      var curr_date = d.getDate();
      var curr_hour = d.getHours();
      var curr_min = d.getMinutes();
      var curr_sec = d.getSeconds();
      var curr_msec = d.getMilliseconds();

      var sValue = obj[i]["sentiment"]
      if ( obj[i]["sentiment"] > 0 ) { var sValue = "success" };
        if ( obj[i]["sentiment"] < 0 ) { var sValue = "danger" };
          if ( obj[i]["sentiment"] == 0 ) { var sValue = "" };

      var tr="<tr class='"+ sValue +"'>";
      var tr2="</tr>";
      var td1="<td>"+ curr_month +"-"+ curr_date +"</td>";
      var td2="<td>"+ curr_hour + ":" + curr_min + ":" + curr_sec + ":" + curr_msec +"</td>";
      var td3="<td>"+obj[i]["apiData"]["user"]["screen_name"]+"</td>";
      var td4="<td><a href='https://twitter.com/"+ obj[i]["apiData"]["user"]["screen_name"] +"/status/"+ obj[i]["apiData"]["id_str"] + "'>"+ obj[i]["apiData"]["text"] +"</a></td>";
      var td5="<td>"+ obj[i]["sentiment"] +"</td>";
      
     $("#mytable").append(tr+td1+td2+td3+td4+td5+tr2).hide().fadeIn(150); }
});

$.getJSON("http://localhost:8000/coinbaseBuy", function(coinbaseBuy) {
  var objBuy = []
  objBuy = coinbaseBuy;

  var tblBuy=$("<table/>").attr("id","mytableBuy").attr("class","table table-striped table-coinbase");
  var tableHeadingBuy = "<tr><th>Buy</th></tr>";

  $("#buy").append(tblBuy);
  $("#mytableBuy").append(tableHeadingBuy);
    for(var i=0;i<objBuy.length;i++) {

      var tr="<tr>";
      var tr2="</tr>";
      var td1="<td>"+ objBuy[i]["amount"] +"</td>";

     $("#mytableBuy").append(tr+td1+tr2).hide().fadeIn(150); }
});

$.getJSON("http://localhost:8000/coinbaseSell", function(coinbaseSell) {
  var objSell = []
  objSell = coinbaseSell;

  var tblSell=$("<table/>").attr("id","mytableSell").attr("class","table table-striped warning table-coinbase");
  var tableHeadingSell = "<tr><th>Sell</th></tr>";

  $("#sell").append(tblSell);
  $("#mytableSell").append(tableHeadingSell);
    for(var i=0;i<objSell.length;i++) {

      var tr="<tr>";
      var tr2="</tr>";
      var td1="<td>"+ objSell[i]["amount"] +"</td>";

     $("#mytableSell").append(tr+td1+tr2).hide().fadeIn(150); }

});

$.getJSON("http://localhost:8000/coinbaseSpotRate", function(coinbaseSpotRate) {
  var objSpotRate = []
  objSpotRate = coinbaseSpotRate;

  var tblSpotRate=$("<table/>").attr("id","mytableSpotRate").attr("class","table table-striped table-coinbase");
  var tableHeadingSpotRate = "<tr><th>SpotRate</th></tr>";

  $("#spotrate").append(tblSpotRate);
  $("#mytableSpotRate").append(tableHeadingSpotRate);
    for(var i=0;i<objSpotRate.length;i++) {

      var tr="<tr>";
      var tr2="</tr>";
      var td1="<td>"+ objSpotRate[i]["amount"] +"</td>";

      $("#mytableSpotRate").append(tr+td1+tr2).hide().fadeIn(150); }

  $(document).on("click", ".toggle1", function(){ location.reload(true); });

});
</script>

</head>
<body>

<button class="toggle1">Refresh</button>

<header>
  <% include ./partials/header %>
</header>
<div class="container-fluid">
<div class="row">
  <div class="col-md-10" style="padding:0">
  </div>
  <div class="col-md-2" style="padding:0">
     
  </div>
</div>
<div class="row">
  <div class="col-md-10" style="padding:0">
    <div id="name"></div>
  </div>
  <div class="col-md-2" style="padding:0">
      <div class="col-md-4" style="padding:0"><div id="buy"></div></div>
      <div class="col-md-4" style="padding:0"><div id="sell"></div></div>
      <div class="col-md-4" style="padding:0"><div id="spotrate"></div></div>
    </div>
</div>
</div>
<footer>
  <% include ./partials/footer %>
</footer>
<script>

</script>
</body>
</html>